services:
  postgres:
    image: postgres:17
    container_name: ztp-postgres
    environment:
      POSTGRES_DB: ztp_products
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
